{% extends 'index.html' %}
{% block body %}
    <section class="h-screen text-center">
        <p class="pt-48 pb-8 text-3xl font-bold">To'g'ri</p>
        <a href="{% url 'list-quizzes' %}" class="">
            <button class="bg-green-600 rounded-lg p-2 px-4 text-white hover:bg-green-500">Yana ishlash</button>
        </a>
    <a href="{% url 'main' %}">
        <button class="bg-blue-600 p-2 px-4 rounded-lg text-white hover:bg-blue-500">Asosiy sahifaga qaytish</button>
    </a>
    </section>
{% endblock body %}